
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed&display=swap');
*
{
    margin: 0;
    padding: 0;
    background-color: #201D21;
    color: white;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-size: 24px;
}

.game
{
    margin-left: -10px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-menu
{
    max-width: 300px;
    margin: 5px 15px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.message {
    word-wrap: break-word;
}

.square
{
    margin: 8px;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: none;
}

.start-button
{
    margin-top: 2px;
    background-color: transparent;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: 3px solid rgb(195, 102, 195);
    transition: background-color 0.3s ease-in-out;
}

.square {
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.square:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.start-button:hover {
    cursor: pointer;
    background-color: rgba(195, 102, 195, 0.3);
}

.score
{
    margin-top: 10px;
}

.result-text
{
    margin-top: 20px;
}

.result
{
    margin-top: 20px;
    color: rgb(195, 102, 195);
}

.message
{
    color: rgb(195, 102, 195);
}

#red-square
{
    background-color: #ff7476;
}

#orange-square
{
    background-color: #f2af68;
}

#yellow-square
{
    background-color: #fde170;
}

#green-square
{
    background-color: #81f86a;
}

#light-blue-square
{
    background-color: #68deff;
}

#blue-square
{
    background-color: #5370f3;
}

#purple-square
{
    background-color: #a962f5;
}

#pink-square
{
    background-color: #f559ed;
}

#gray-square
{
    background-color: gray
}
